In [ ]:
1. slicing of list in python

In [6]:
students =['Ravali', 'Sai', 'Srinivas','Raju', 'Hameed','Amala']
print(students)

['Ravali', 'Sai', 'Srinivas', 'Raju', 'Hameed', 'Amala']

In [2]:
type(students)

list

In [ ]:
Req: To have a group of 2 students each

In [3]:
print(students[0:2])

['Ravali', 'Sai']

In [4]:
print(students[2:4])

['Srinivas', 'Raju']

In [5]:
print(students[4:6])

['Hameed', 'Amala']

In [8]:
print(students[4:])

['Hameed', 'Amala']

In [ ]:
Genral Syntax of SKICING
StartPoint:endpoint ***

In [9]:
print(students)

['Ravali', 'Sai', 'Srinivas', 'Raju', 'Hameed', 'Amala']

In [ ]:
# To get the alternate names form list

In [12]:
print(students[0:5:2])

['Ravali', 'Srinivas', 'Hameed']

In [ ]:
+ve Indexing --> 0,1,2,3...

In [13]:
print(students)

['Ravali', 'Sai', 'Srinivas', 'Raju', 'Hameed', 'Amala']

In [ ]:
Req: Access the last emement in list.

In [14]:
print(students[5])

Amala

In [15]:
print(students[-1])

Amala

In [ ]:
#Reverse order using slicing --> ::-1]

In [16]:
print(students)

['Ravali', 'Sai', 'Srinivas', 'Raju', 'Hameed', 'Amala']

In [17]:
print(students[::-1])

['Amala', 'Hameed', 'Raju', 'Srinivas', 'Sai', 'Ravali']

In [ ]:
**Range function**

In [19]:
# Print numbers till 10
for value in range(0,10):
    print(value)

0
1
2
3
4
5
6
7
8
9

In [37]:
# Even Numbers from above list using range function

for num in range(0,10,2):
    print(num)

0
2
4
6
8

In [42]:
# Print Odd Numbers from list using range function

for num in range(0,50,+1):
   if num % 2 != 0:
      print(num )

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49